.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

@media screen and (max-width: 1220px) {
  .feynman__subtitle {
    margin-top: 60px;
  }
}
