.header__subtitle {
  margin: 0;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
}

@media screen and (max-width: 1220px) {
  .header__subtitle {
    max-width: 308px;
    line-height: 22px;
    font-size: 15px;
  }
}
